@using CMS.Mvc.ViewModels.Shared.SidebarComponents
@model ContactUsViewModel
<img src="~/images/page-images/sidebar-images/sidebar-contact.jpg" class="sidbarImg">
<div class="sidebarBoxC">
    <div class="hdr">@Model.Title</div>
    <div class="txt">@Model.Copy</div>
    <select class="dropdown">
        @foreach (CountryViewModel region in @Model.Countries)
        {
            <option value="@region.CountryName">@region.CountryName</option>
        }
    </select>
</div>
