@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.Shared.SidebarComponents.GenericSidebarBlockViewModel

<div class="sidebarBoxC">
    @if (Model.Reference != null)
    {
        <div class="title">@UtilsHelper.ToHtmlString(@Model.Title)</div>
    }
    else
    {
    <div class="hdr">@UtilsHelper.ToHtmlString(@Model.Title)</div>
    }
    <div class="twoCol">
        @Html.Partial("~/Views/Afton/Shared/Sidebar/_leftSideBlock.cshtml", Model)
   </div>
</div>
