@model CMS.Mvc.ViewModels.Shared.SidebarComponents.LeftNavigationViewModel
<div id="sidebarHdrC" class="altSidbarstyles">
    <h2>@Html.Raw(Model.Title)</h2>
</div>
<div id="sidebarNavC">
    <ul>
        @foreach (var navItem in Model.NavItems)
        {
            if (navItem.SubMenu != null && navItem.SubMenu.Count() > 0)
            {
                <li>
                    @if (navItem.Link != null)
                    {
                        <a href="@Url.Content("~/" + navItem.Link)" class="open active"> @Html.Raw(navItem.Title)</a>
                    }
                    else
                    {
                        <a class="open active"> @Html.Raw(navItem.Title)</a>
                    }
                    <ul>
                        @foreach (var subNavItem in navItem.SubMenu)
                        {
                            <li>
                                @if (subNavItem.Link != null)
                                {
                                    <a href="@Url.Content("~/" + subNavItem.Link)">@Html.Raw(subNavItem.Title)</a>
                                }
                                else
                                {
                                    <a>@Html.Raw(subNavItem.Title)</a>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @if (navItem.Link != null)
                    {
                        <a href="@Url.Content("~/" + navItem.Link)">@Html.Raw(navItem.Title)</a>
                    }
                    else
                    {
                        <a>@Html.Raw(navItem.Title)</a>
                    }
                </li>
            }
        }
    </ul>
</div>
