@using CMS.Helpers
@model CMS.Mvc.ViewModels.Shared.SidebarComponents.LeftNavigationViewModel
<div id="sidebarHdrC" class="
     @if(!Model.HasHero) {
         @Html.Raw("altSidbarstyles");
         }
         "> <h2>@Html.Raw(Model.Title)</h2>
</div>
<div id="sidebarNavC">
    <ul>
        @foreach (var navItem in Model.NavItems)
        {
            if (navItem.SubMenu != null && navItem.SubMenu.Any())
            {
                <li>
                    @if (navItem.Link != null)
                    {
                        <a href="@Url.Content("~/" + navItem.Link)" class="open active">
                                                @if (!string.IsNullOrEmpty(navItem.NavigationIcon))
                                                {
                                                    <img src="@Url.Content(navItem.NavigationIcon)" />
                                                }
                        @Html.Raw(navItem.Title)</a>
                    }
                    else
                    {
                        <a>
                            @if (!string.IsNullOrEmpty(navItem.NavigationIcon))
                            {
                                <img src="@Url.Content(navItem.NavigationIcon)" />
                            }
                     @Html.Raw(navItem.Title)</a>
                    }
                    <ul>
                        @foreach (var subNavItem in navItem.SubMenu)
                        {
                            <li>
                                @if (subNavItem.Link != null)
                                {
                                    if (subNavItem.Link == CMS.Helpers.RequestContext.CurrentURL.Substring(1)) { 
                                        <a class="active" href="@Url.Content("~/" + subNavItem.Link)">@Html.Raw(subNavItem.Title)</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Content("~/" + subNavItem.Link)">@Html.Raw(subNavItem.Title)</a>
                                    }
                                }
                                else
                                {
                                    <a>@Html.Raw(subNavItem.Title)</a>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @if (navItem.Link != null)
                    {
                        if (navItem.Link == CMS.Helpers.RequestContext.CurrentURL.Substring(1))
                        {
                            <a class="open active" href="@Url.Content("~/" + navItem.Link)">
                                @if (!string.IsNullOrEmpty(navItem.NavigationIcon))
                                {
                                    <img src="@Url.Content(navItem.NavigationIcon)" />
                                }
                                @Html.Raw(navItem.Title)</a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/" + navItem.Link)">
                                @if (!string.IsNullOrEmpty(navItem.NavigationIcon))
                                {
                                    <img src="@Url.Content(navItem.NavigationIcon)" />
                                }
                                    @Html.Raw(navItem.Title)</a>
                        }
                    }
                    else
                    {
                        <a>@Html.Raw(navItem.Title)</a>
                    }
                </li>
            }
        }
    </ul>
</div>
