@model CMS.Mvc.ViewModels.Shared.SidebarComponents.SidebarComponentWithDefaultImageViewModel
@if (!string.IsNullOrWhiteSpace(Model.Reference))
{
    <a href="@Url.Content("~/" + Model.Reference)">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)"/>
        }
        else if (!string.IsNullOrWhiteSpace(Model.DefaultImage))
        {
            <img src="@Url.Content(Model.DefaultImage)"/>
        }
        <div class="txtCol">
            <div class="sTxt">@Model.Title</div>
            <um>@Model.Summary</um>
        </div>
    </a>
}
else
{
    <a>
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" />
        }
        else if (!string.IsNullOrWhiteSpace(Model.DefaultImage))
        {
            <img src="@Url.Content(Model.DefaultImage)" />
        }
        <div class="txtCol">
            <div class="sTxt">@Model.Title</div>
            <um>@Model.Summary</um>
        </div>
    </a>
}
