@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.Shared.SidebarComponents.SidebarComponentWithDefaultImageViewModel
@if (!string.IsNullOrWhiteSpace(Model.Reference))
{
    <a href="@Url.Content("~/" + Model.Reference)">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Title"/>
        }
        else if (!string.IsNullOrWhiteSpace(Model.DefaultImage))
        {
            <img src="@Url.Content(Model.DefaultImage)" alt="@Model.Title" />
        }
        <div class="txtCol">
            @*<div class="sTxt">@Model.Title</div>*@
            <um>@UtilsHelper.Ellipsis(Model.Description.ToString(),120)</um>
        </div>
    </a>
}
else
{
    <a>
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Title" />
        }
        else if (!string.IsNullOrWhiteSpace(Model.DefaultImage))
        {
            <img src="@Url.Content(Model.DefaultImage)" alt="@Model.Title" />
        }
        <div class="txtCol">
            <um>@UtilsHelper.Ellipsis(Model.Description.ToString(), 120)</um>
        </div>
    </a>
}
