@model CMS.Mvc.ViewModels.Shared.SidebarComponents.PollSurveyViewModel
@Html.Raw(Model.Question) : 
@Model.NodeAlias
@foreach (var answer in Model.Answers)
{
    <p>@answer.Title : @answer.NodeAlias</p>
}
Total Votes:
@Model.TotalVotes <br/>

Left:
@((Model.Expire - DateTime.Now).TotalDays)<br/>

Feedback prompt:
@Model.FeedbackPrompt<br/>