@using CMS.Mvc.ViewModels.Shared
@using CMS.Mvc.Helpers
@model SolutionViewModel

<div class="bgGray padTopBtm">
    <div class="fullWidth">
        <h2>@UtilsHelper.ToHtmlString(Model.Title) @Model.Constants.ProductsLabel</h2>
    </div>
    <div class="cardsSM_C">
        <div class="cardsSM fourCol">
            @foreach (var product in Model.Products)
            {
                <a href="@Url.Content("~/" + product.DocumentRoutePath)">
                    <div class="cardBtnIndicator">
                        <img src="@Url.Content("~/images/card-btn-indicator.png")" />
                    </div>
                    <div style="background-image: url(@(!string.IsNullOrEmpty(product.HomeImage) ? Url.Content(product.HomeImage) : string.Empty));" class="cardHdrC"></div>
                    <div class="cardTextAreaC">
                        <div class="cardTextArea">
                            <div class="cardType">@Model.Constants.ProductCardType</div>
                            <div class="cardHdrText">@UtilsHelper.ToHtmlString(product.Title)</div>
                            <div class="cardSubHdr">@UtilsHelper.ToHtmlString(@product.TileOverlayText)</div>
                            <div class="cardTxt">@UtilsHelper.ToHtmlString(product.Description)</div>
                        </div>
                        @if(product.DocumentCreatedWhen != null) {<div class="cardDate">@((DateTime)product.DocumentCreatedWhen).ToString("MMM dd, yyyy")</div>}
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="fullWidth">
        <a href="@Url.Content("~/"+RouteHelper.GetSelectionFilterSolutionViewAllUrl(Model.NodeID.ToString()))" class="viewAllBtn">
            @Model.Constants.ViewAllLabel @UtilsHelper.ToHtmlString(Model.Title) @Model.Constants.ProductsLabel
        </a>
    </div>
</div>
