<div id="lftCol-sidebar">
	<div id="sidbarHdrC">
		<h2>@Model.ParentName Solutions</h2>
	</div>
	<div id="sidbarNavC">
		<ul>
			@foreach (var item in Model.SidebarSolutions)
			{
				<li><a href="@Url.Action("Index", "Solution", new { parentName = Model.ParentName, name = item.Title })" class="@(@item.Title.Equals(Model.Title) ? "active" : "")">@item.Title</a></li>
			}
		</ul>
	</div>
	<div class="sidbarBoxC">
		@Html.Partial("~/Views/Afton/Shared/_stayInformed.cshtml")
	</div>
</div>
