@using CMS.Mvc.ViewModels.Shared
@model CMS.Mvc.ViewModels.Product.ContactUsViewModel
<img src="~/images/page-images/sidebar-images/sidebar-contact.jpg" class="sidbarImg">
<div class="sidbarBoxC">
    <div class="hdr">@Model.Header</div>
    <div class="hdr">Contact for More Information</div>
    <div class="txt">@Model.Text</div>
    <div class="txt">Um sundae culles aboritia as aut acit volorum eumqui quam quidele secatec toratemquam.</div>
    <select class="dropdown">
        @foreach (RegionViewModel region in @Model.Regions)
        {
            <option value="@region.Value">@region.Title</option>
        }
        @*<option value="volvo">Select Your Country</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="American Samoa">American Samoa</option>
        <option value="Andorra">Andorra</option>
        <option value="Angola">Angola</option>
        <option value="Anguilla">Anguilla</option>
        <option value="Antartica">Antarctica</option>
        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Aruba">Aruba</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahamas">Bahamas</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Barbados">Barbados</option>
        <option value="Belarus">Belarus</option>
        <option value="Belgium">Belgium</option>
        <option value="Belize">Belize</option>
        <option value="Benin">Benin</option>*@
    </select>
</div>
