@model CMS.Mvc.ViewModels.Product.DownloadWidgetViewModel
<div id="prodHdrC">
    @if (!string.IsNullOrWhiteSpace(Model.TileImage))
    {
        <img id="pLft" src="@Url.Content(Model.TileImage)" />
        
    }
    <div id="pRt">
        <h1>@Html.Raw(Model.Title)</h1>
        <div id="subTxt">@Model.Description</div>
        @if (!Model.AvailableIn.Any())
        {
            <div id="pCurrently"> Currently not available</div>
        }
        else
        {
            <div id="pCurrently">
                Currently available in:
                @foreach (var link in Model.AvailableIn)
                {
                    <span>
                        <a>@link.Title</a>
                    </span>
                }
            </div>
        }
        @*@Html.Partial("~/Views/Afton/Shared/DownloadWidget/_downloadButtonSection.cshtml", Model.DownloadButtonSection)*@
        <div id="downloadDocsC" class="noPrintDisplay">
            <a href="#" target="_blank" class="downloadBtn">Download Product Data Sheet <span class="icon-download"></span></a>
            @if (Model.TranslationAvailable.Any())
            {
                <div id="translate-doc">
                    Select Language:
                    <a id="selDocLang">
                        <span class="icon-arrow"></span>
                    </a>
                    <ul id="langDocDropDown" style="display: none;">
                        @foreach (var translation in Model.TranslationAvailable)
                        {
                            if (!string.IsNullOrWhiteSpace(translation.Reference))
                            {
                                if (translation.LanguageId.Equals(Model.CurrentLanguageId, StringComparison.CurrentCultureIgnoreCase))
                                {
                                    <li id="@translation.LanguageId" class="selected">
                                        <a data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                                    </li>
                                }
                                else
                                {
                                    <li id="@translation.LanguageId">
                                        <a href="#" data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                                    </li>
                                }

                            }
                        }
                    </ul>

                </div>
            }
            else
            {
                <div id="translate-doc">Translation not available</div>
            }
        </div>
        @*<div id="downloadDocsC" class="noPrintDisplay">
                <a href="#" target="_blank" class="downloadBtn">Download Product Data Sheet <span class="icon-download"></span></a>
                <div id="translate-doc">
                    Select Language: <a href="#" id="selDocLang"> <span class="icon-arrow"></span></a>
                    <ul id="langDocDropDown" style="display: none;">
                        <li id="langEnglish"><a href="#" data-download="http://google.com">English</a></li>
                        <li id="langChinese"><a href="#" data-download="http://yahoo.com">简体中文                                </a></li>
                        <li id="langGerman" class="selected"><a href="#" data-download="http://aol.com">German</a></li>
                        <li id="langJapanese"><a href="#" data-download="http://facebook.com">日本語</a></li>
                        <li id="langRussian"><a href="#" data-download="http://bing.com">Russian</a></li>
                        <li id="langSpanish"><a href="#" data-download="http://msn.com">Español</a></li>
                        <li id="langPortugues"><a href="#" data-download="http://stackoverflow.com">Português</a></li>
                        <li id="langFrench"><a href="#" data-download="http://gmail.com">French</a></li>
                    </ul>
                </div>
            </div>*@
        <div id="socialC2" class="noPrintDisplay">
            <a class="addthis_button_compact">
                <span class="icon-share"></span>
            </a>
            <a href="#"><span class="icon-print"></span></a>
        </div>
    </div>
</div>
