@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.Product.DownloadWidgetViewModel
<div id="prodHdrC">
    @if (!string.IsNullOrWhiteSpace(Model.TileImage))
    {
        <img id="pLft" src="@Url.Content(Model.TileImage)" />

    }
    <div id="pRt">
        <h1>@Html.Raw(Model.Title)</h1>
        <div id="subTxt">@Model.Description</div>
        @if (!Model.AvailableIn.Any())
        {
            <div id="pCurrently"> @UtilsHelper.GetLocalizedString("product_downloadWidget_CurrentlyNotAvailable")</div>
        }
        else
        {
            <div id="pCurrently">
                @UtilsHelper.GetLocalizedString("product_downloadWidget_AvailableIn")
                @foreach (var link in Model.AvailableIn)
                {
                    <span>
                        <a>@link.Title</a>
                    </span>
                }
            </div>
        }
        <div id="downloadDocsC" class="noPrintDisplay">
            <a href="#" target="_blank" class="downloadBtn">@UtilsHelper.GetLocalizedString("product_downloadWidget_DownloadPDS")<span class="icon-download"></span></a>
            @if (Model.TranslationAvailable.Any(tr => !tr.LanguageId.Equals(Model.CurrentLanguageId, StringComparison.CurrentCultureIgnoreCase)))
            {
                <div id="translate-doc">
                    @UtilsHelper.GetLocalizedString("product_downloadWidget_SelectLanguage")

                    <a id="selDocLang">
                        <span class="icon-arrow"></span>
                    </a>
                    <ul id="langDocDropDown" style="display: none;">
                        @foreach (var translation in Model.TranslationAvailable)
                        {
                            if (!string.IsNullOrWhiteSpace(translation.Reference))
                            {
                                if (translation.LanguageId.Equals(Model.CurrentLanguageId, StringComparison.CurrentCultureIgnoreCase))
                                {
                                    <li id="@translation.LanguageId" class="selected">
                                        <a data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                                    </li>
                                }
                                else
                                {
                                    <li id="@translation.LanguageId">
                                        <a href="#" data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                                    </li>
                                }

                            }
                        }
                    </ul>

                </div>
            }
            @*else
                {
                    <div id="translate-doc">@UtilsHelper.GetLocalizedString("product_downloadWidget_NoTranslation")</div>
                }
            *@

        </div>
        <div id="socialC2" class="noPrintDisplay">
            <a class="addthis_button_compact">
                <span class="icon-share"></span>
            </a>
            <a href="#"><span class="icon-print"></span></a>
        </div>
    </div>
</div>
