@model CMS.Mvc.ViewModels.Product.LeftSideBlockViewModel

<a href="@Url.Content("~/" + @Model.Reference)">
    <img src="@Url.Content("~/" + @Model.ImageUrl)">
    <div class="txtCol">
        <div class="sTxt">@Model.Title</div>
        <um>@Model.Summary</um>
    </div>
</a>