@model CMS.Mvc.ViewModels.Product.RelatedProductCardViewModel
@if (!string.IsNullOrWhiteSpace(Model.Reference))
{
    <a href="@Url.Content("~/" + Model.Reference)">
        <div class="cardBtnIndicator">
            <img src="~/images/card-btn-indicator.png" />
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <div style="background-image: url(@Url.Content(Model.ImageUrl));" class="cardHdrC"></div>
        }
        <div class="cardTextAreaC">
            <div class="cardTextArea">
                <div class="cardType">@Html.Raw(Model.Title)</div>
                <div class="cardHdrText">@Model.Header</div>
                <div class="cardSubHdr">@Model.SubHeader</div>
                <div class="cardTxt">@Model.Text</div>
                
            </div>
            <div class="cardDate">@Model.Date.ToString("MMMM dd, yyyy")</div>
        </div>
    </a>
}
else
{
    <a>
        <div class="cardBtnIndicator">
            <img src="~/images/card-btn-indicator.png" />
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <div style="background-image: url(@Url.Content(Model.ImageUrl));" class="cardHdrC"></div>
        }
        <div class="cardTextAreaC">
            <div class="cardTextArea">
                <div class="cardType">@Html.Raw(Model.Title)</div>
                <div class="cardHdrText">@Model.Header</div>
                <div class="cardSubHdr">@Model.SubHeader</div>
                <div class="cardTxt">@Model.Text</div>
                
            </div>
            <div class="cardDate">@Model.Date.ToString("MMMM dd, yyyy")</div>
        </div>
    </a>
}
