

<div id="topSliderC">
	<div id="topSliderArrowsC"><a href="#" id="lftArrow"><img src="@Url.Content("~/images/lft-slidArrow.png")"></a><a href="#" id="rtArrow"><img src="@Url.Content("~/images/rt-slidArrow.png")"></a></div>
	<div id="slidesC">
		<div id="topSliderNavC"></div>
		<div id="slides">
			@foreach (var item in Model)
			{
				<div style="display: none;" class="slide @(Model.IndexOf(item)%2==0? "rtLayout" : "lftLayout")">
					<div class="slideTxtBoxC">
						<div class="slideTxtBox">
							<div class="slideHdr">@item.Title </div>
							<div class="slideTxt">@item.Copy</div><a href="#">Learn More<span class="icon-arrow"></span></a>
						</div>
					</div>
					<div class="slideImgBoxC"><img src="@Url.Content(item.Image)"></div>
				</div>
			}
		</div>
	</div>
</div>
