@using CMS.Mvc.Helpers
<div id="topSliderC">
	<div id="slidesC">
		<div id="slides">
			<div class="slide @(Model[0].Handedness == "ImageLeft" ? "rtLayout" : "lftLayout")">
				<div class="slideTxtBoxC">
					<div class="slideTxtBox">
					    <div class="slideHdr">@UtilsHelper.ToHtmlString(Model[0].Title) </div>
						<div class="slideTxt">@UtilsHelper.ToHtmlString(Model[0].Copy)</div><a href="@Model[0].RelatedDocument">Learn More<span class="icon-arrow"></span></a>
					</div>
				</div>
				<div class="slideImgBoxC"><img src="@Url.Content(Model[0].Image)"/></div>
		    </div>
		</div>
	</div>
</div>
