<div class="cardsC bgPattern">
	<div class="cards">
		@foreach (var item in Model)
		{
			<a href="#" class="@(Model.IndexOf(item) % 3 == 2 ? "trending" : "")">
				<div class="cardBtnIndicator"><img src="@Url.Content("~/images/card-btn-indicator.png")"></div>
				@if (Model.IndexOf(item) % 3 == 2)
				{
					<div class="trendIndicator">Trending Topic</div>
				}
				<div class="overlayC">
					<div class="overlay">
						<div class="cardTitle">@item.TypeName</div>
						<div class="cardHdr">@item.Title</div>
						@if (@item.Description != null)
						{
							<div class="cardTxt">@item.Description</div>
						}
					</div>
					@if (@item.Date != null)
					{
						<div class="cardDate">@item.Date.ToString("MMMM dd, yyyy")</div>
					}
				</div>
				<div style="opacity: 0.0;" class="hoverOverlayC">
					<div class="hoverOverlay">
						<div class="hoverOverlayTxt">@(item.HoverContent ?? "Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late...")</div>
					</div>
					<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
				</div><img src="@Url.Content(item.HomeImage)">
			</a>
		}
	</div>
</div>
