@model CMS.Mvc.ViewModels.Shared.DownloadWidget.DownloadButtonSectionViewModel

<div id="downloadDocsC" class="noPrintDisplay">
    
    @if (Model.TranslationAvailable.Any())
    {
        <a href="" target="_blank" class="downloadBtn">@Model.DownloadLabel <span class="icon-download"></span></a>
        <div id="translate-doc">
            @Model.TranslationAvailableLabel
            <a id="selDocLang">
                @Model.SelectLanguageLabel
                <span class="icon-arrow"></span>
            </a>
            <ul id="langDocDropDown" style="display: none;">
                @foreach (var translation in Model.TranslationAvailable)
                {
                    if (translation.LanguageId.Equals(Model.SelectedLanguage.LanguageId, StringComparison.CurrentCultureIgnoreCase))
                    {
                        <li id="@translation.LanguageId" class="selected">
                            <a href="@Url.Content(translation.Reference)" data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                        </li>
                    }
                    else
                    {
                        <li id="@translation.LanguageId">
                            <a href="@Url.Content(translation.Reference)" data-download="@Url.Content(translation.Reference)">@translation.Title</a>
                        </li>
                    }
                }
            </ul>

        </div>
    }
    else
    {
        <!--<div id="translate-doc">Translation not available</div>-->
    }
</div>