@using CMS.DocumentEngine.Types
@using CMS.Mvc.ViewModels.Master
@using CMS.Mvc.Helpers
@model FooterViewModel
<div id="footerC">

    <footer>
        <div id="btmC">
            <div id="btmLogoC"><img src="@Url.Content("~/images/btm-logo.png")" /></div>
            @foreach (var item in Model.FooterNavCategories)
            {
                <div class="btmNavCol">
                    <a href="@Url.Content("~/"+item.Reference)">@UtilsHelper.ToHtmlString(item.Title)</a>
                    <ul>
                        @foreach (var footerNavItems in item.FooterNavItems)
                        {
                            <li><a href="@Url.Content("~/"+footerNavItems.Reference)">@UtilsHelper.ToHtmlString(footerNavItems.Title)</a></li>

                        }
                    </ul>
                    @if (Model.FooterNavCategories.Last() == item)
                    {
                    <br /><br />
                    <a href="https://www.linkedin.com/company/afton-chemical?trk=top_nav_home" target="_blank"><img src="@Url.Content("~/images/linkedIn.svg")" style="width: 35px;"></a>
                    <a href="https://www.youtube.com/user/AftonChemicalCorp" target="_blank"><img src="@Url.Content("~/images/youTube.svg")" style="width: 35px;"></a>
                    }
                </div>
            }
        </div>
        <div id="btmContactBtn" style="display:none;">
            <a href="@Url.Content("~/"+ ContactPage.RoutePath)">Contact</a>
        </div>
        <div id="disclaimer">
            &copy;<span id="dateYear"></span> Afton Chemical <span class="divider">|</span><a href="/Generic/Privacy-Terms">Privacy & Terms</a>
        </div>
    </footer>
</div>