@using CMS.Helpers
@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.Master
@model MasterViewModel

<div id="cookieOverlayC" style="display: none;">
    <div id="cookieDisplayC">
        <div id="mainTxt">@UtilsHelper.GetLocalizedString( "cookie_Message" ) <br><br> @UtilsHelper.GetLocalizedString( "cookie_Accept_Message" )</div><br><br>
        <div id="cookieDisplayOptions">
            <a href="#" class="cookieBtn accept">@UtilsHelper.GetLocalizedString("cookie_Allow_Message")</a>
            <a href="#" class="cookieBtn decline">@UtilsHelper.GetLocalizedString("cookie_Do_Not_Allow_Message")</a>
        </div>
        <br><br>
        <a href="#" class="policy">@UtilsHelper.GetLocalizedString("cookie_Policy_Message")</a>
    </div>
</div>

<div id="mobileNavC1">
    <div id="mobileNavC">
        <div id="menuHdrC">
            <div id="menuHdr">Menu</div>
            <div id="mobileNavStatus" style="display: none;"></div><a href="#" id="menuclose">
                <img src="@Url.Content("~/images/menuClose.gif")" />
            </a>
        </div>
        <div id="mainNavC">
            <ul>
                @foreach (var item in Model.MainNavList)
                {
                    <li>
                        <a href="@Url.Content("~/" + item.Reference)">@item.Title</a>
                        <ul>
                            @foreach (var thumbnailedItem in item.ThumbnailedMenuItems)
                            {
                                <li>
                                    <a href="@Url.Content("~/" + thumbnailedItem.Reference)">@thumbnailedItem.Title</a>
                                </li>
                            }
                            @if (item.SolutionsLink != null)
                            {
                                foreach (var solution in item.SolutionsLink.Solutions)
                                {
                                    <li>
                                        <a href="@Url.Content("~/" + solution.Reference)">@solution.Title</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div id="utilC">
            <ul>
                @foreach (var item in Model.UtilityNavList)
                {
                    <li><a href="@Url.Content("~/" + @item.Reference)">@item.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<div id="topHeaderC">
    @*<div id="cookiesC">
        <div id="cookies">
            <div id="txt">
                By using this website you consent to use cookies. Detailed information about the use of cookies on our website is available
                <a href="#">here</a>. &nbsp;
            </div>
            <a href="#" id="closeCookieDisplay">
                <img src="/images/close-cookie.gif" alt="" />
            </a>
        </div>
    </div>*@

    <div id="searchC">
        <div id="search">
            @using (Html.BeginForm("Index", "GlobalSearch", FormMethod.Get))
            {
                <input type="text" placeholder=@UtilsHelper.GetLocalizedString("master_header_SearchPlaceHolder") value="@(Model.GlobalSearchQuery ?? string.Empty)" name="query" />
                <div id="searchDir">@UtilsHelper.GetLocalizedString("master_header_SearchTooltip")</div>
                <div id="closeSearch">
                    <a href="#">
                        <img src="@Url.Content("~/images/searchClose.png")" alt="" />
                    </a>
                </div>
            }
        </div>
    </div>
    <div id="topHeader">
        <header>
            <a href="/">
                <img src="@Url.Content("~/images/logo.svg")" id="dLogo" alt=@UtilsHelper.GetLocalizedString("master_header_LogoTitle") title=@UtilsHelper.GetLocalizedString("master_header_LogoTitle") />
                <img src="@Url.Content("~/images/logo-mobile.svg")" id="mLogo" alt=@UtilsHelper.GetLocalizedString("master_header_LogoTitle") title=@UtilsHelper.GetLocalizedString("master_header_LogoTitle") style="display: none;" />

            </a>
            <a href="#" id="mobileBtn" style="display: none;">
                <img src="@Url.Content("~/images/mobileBtn.gif")" />
            </a>
            <a href="#" id="mobileSearch" style="display: none;">
                <span class="icon-search"></span>
            </a>
            @*<div id="languageC">
                <ul>
                    <li>
                        <a href="#" id="selLang" data-lang="@Model.SelectedCulture">@Model.SelectedCulture</a><span class="icon-language"></span>
                        <ul id="langDropDown" style="display: none;">
                            @foreach (CultureLinkViewModel cultureLink in Model.AvailableCultures.Where(c => c.Title != Model.SelectedCulture))
                            {
                                <li id=@cultureLink.CultureId>
                                    <a href="@Url.Content(cultureLink.Reference)">@cultureLink.Title</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>*@
            <div id="utilityNavC">
                <ul>
                    @foreach (var item in Model.UtilityNavList)
                    {
                        <li><a href="@Url.Content("~/" + item.Reference)">@item.Title</a></li>
                    }
                    <li><a href="#"><span class="icon-search"></span></a></li>
                </ul>
            </div>
            <div id="mainNavC">
                <ul>
                    @foreach (var item in Model.MainNavList)
                    {
                        if (item.SolutionsLink != null)
                        {
                            <li>
                                <a href="@Url.Content("~/" + item.Reference)" data-mm="@item.Title.Replace(" ", string.Empty)" class="@(item.Selected ? "active" : "")">@item.Title</a>
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Content("~/" + item.Reference)" class="@(item.Selected ? "active" : "")">@item.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </header>
    </div>
    <div id="stickySBU-navC" style="display: none;"></div>
    <div id="megaMenuC" style="opacity: 0;">
        @foreach (var item in Model.MainNavList.Where(w => w.SolutionsLink != null))
        {
            <div id="@item.Title.Replace(" ", string.Empty)" class="megaMenu">
                <div class="lftCol">
                    @foreach (var thumbnailedItem in item.ThumbnailedMenuItems)
                    {
                        <a href="@Url.Content("~/" + thumbnailedItem.Reference ?? "")" class="photoLink">
                            @if (!string.IsNullOrEmpty(thumbnailedItem.Image)) { 
                                <img src="@Url.Content(thumbnailedItem.Image ?? "")">
                            }
                            <div class="photoLinkRt">
                                <div class="mHeader">@thumbnailedItem.Title</div>
                                <div class="mTxt">@thumbnailedItem.Description</div>
                            </div>
                        </a>
                    }
                </div>
                <div class="rtCol">
                    <div class="rtColHdr">@item.SolutionsLink.Title</div>
                    <div class="rtColLinksC">
                        @foreach (var solution in item.SolutionsLink.Solutions)
                        {
                            <a href="@Url.Content("~/" + solution.Reference)" class="rtColLinks">
                                <div class="txtC">
                                    <div class="linkHdr">@solution.Title</div>
                                    <div class="linkTxt">@solution.Description</div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="stickyFooterC">
    <div id="stickyFooter">
        <div id="stickyFoot">
            <a href="@Url.Content("~/"+ CMS.DocumentEngine.Types.ContactPage.RoutePath)">@UtilsHelper.GetLocalizedString("master_header_StickyFooterButton") </a>
        </div>
    </div>
</div>
