@using System;
@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.GlobalSearch
@model List<ResultItemViewModel>

@foreach (var searchResult in Model)
{
    <a href="@searchResult.DocumentRoutePath" class="searchResultItem">
        @if (!string.IsNullOrEmpty(searchResult.Image))
        {
            <div class="searchImgC"><img src="@Url.Content(searchResult.Image)"></div>
        }
        <div class="searchContentC">
            <h2>@UtilsHelper.ToHtmlString(searchResult.Title) @(searchResult.Type != "" ? "|":"") <span class="docType">@UtilsHelper.ToHtmlString(searchResult.Type)</span></h2>
            <div class="newsTxt">@UtilsHelper.ToHtmlString(!string.IsNullOrEmpty(searchResult.Content) ? searchResult.Content.TruncateHtml(140, "...") : string.Empty)</div>
        </div>
    </a>
}