@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.Generic.GenericPageViewModel
@{
    Layout = "~/Views/Afton/Shared/MasterWithPersonalizationCards.cshtml";
    ViewBag.Title = Model.Document.Title;
}
@Html.Partial("~/Views/Afton/Solution/_heroImage.cshtml", Model.Document.HeroImage)
<div id="twoColumnC-sidebar" class="@if (!string.IsNullOrEmpty(Model.Document.HeroImage)) {@Html.Raw("negMargin") }
                                    else { @Html.Raw("txtPaddingTop")} 
     padBtm">
    <div id="rtCol-contentArea">
        @Html.Partial("~/Views/Afton/Shared/_breadCrumb.cshtml", Model.BreadCrumb)
        @Html.Partial("~/Views/Afton/Generic/_header.cshtml", Model.Document)
        <div id="contentC">
            <div id="mainContentC" class="documentPagination">
                @if (@Model.Document.map)
                {
                    @Html.Partial("~/Views/Afton/Shared/_map.cshtml")
                }
                @UtilsHelper.ToHtmlString(Model.Document.Copy.Replace("~/","/"))
            </div>
            @*<div class="padBtm">
                <div style="display: none;" class="paginationC"><a href="#" class="prev"></a><span class="pageNumbers"></span><a href="#" class="next"></a></div>
            </div>*@
        </div>
    </div>
    <div id="lftCol-sidebar">
        @Html.Partial("~/Views/Afton/Shared/Sidebar/_sideBar.cshtml", Model.SideBar)
    </div>
</div>


