@using CMS.Mvc.ViewModels.DocumentBase
@model DocumentBaseViewModel

<div id="document">
    <h1>@Html.Raw(Model.Title)</h1>
    <div class="subTxt">@Model.Constant.PostedTimeLabel @Model.DocumentPublishFrom.ToString("M/d/yy")</div><br>
    @if(@Model.DownloadButtonSection != null) {
        @Html.Partial("~/Views/Afton/Shared/DownloadWidget/_downloadButtonSection.cshtml", Model.DownloadButtonSection)
    }
    @*<div id="downloadDocsC" class="noPrintDisplay">
        <a href="#" class="downloadBtn">@Model.Constant.DownloadLabel @Model.Title <span class="icon-download"></span></a>
        <div id="translate-doc">
            @Model.Constant.TranslationAvailableLabel <a href="#" id="selDocLang">@Model.Constant.SelectLanguageLabel <span class="icon-arrow"></span></a>
            <ul id="langDocDropDown" style="display: none;">
                <li id="langEnglish"><a href="#">English</a></li>
                <li id="langChinese"><a href="#">简体中文</a></li>
                <li id="langGerman"><a href="#">German</a></li>
                <li id="langJapanese"><a href="#">日本語</a></li>
                <li id="langRussian"><a href="#">Russian</a></li>
                <li id="langSpanish"><a href="#">Español</a></li>
                <li id="langPortugues"><a href="#">Português</a></li>
                <li id="langFrench"><a href="#">French</a></li>
            </ul>
        </div>
    </div>*@
    

    <div id="socialC2" class="noPrintDisplay">
        <a class="addthis_button_compact">
            <span class="icon-share"></span>
        </a>
        <a href="#">
            <span class="icon-print"></span>
        </a>
    </div>
</div>