@using CMS.Mvc.ViewModels.InsightsAndResources
@using CMS.Mvc.Helpers
@model InsightsAndResourcesViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.SelectedMenuItem = Model.NodeGUID;
    Layout = "~/Views/Afton/Shared/MasterWithPersonalizationCards.cshtml";
}

<div id="sbuLandingHdrC">
    <div id="sbuLandingHdr">
        <div class="hdrTxtBoxC">
            <div class="hdrTxtBox">
                <div class="sbuHeadline">@UtilsHelper.ToHtmlString(Model.Headline)</div>
                <div class="sbuTxt">@UtilsHelper.ToHtmlString(Model.Subheadline)</div>
            </div>
        </div>
        <div style="display:none;" class="sbuImgBoxC2"><img src="@Url.Content(Model.HeroImage)"></div>
    </div>
    <div class="sbuImgBoxC"><img src="@Url.Content(Model.HeroImage)"></div>
</div>
<div class="borders2 padTop padBtm">
    <div class="fullWidth">
        <h1 class="txtPaddingTop">@UtilsHelper.ToHtmlString(Model.Title)</h1>
        @Html.Partial("~/Views/Afton/InsightsAndResources/_insightsListing.cshtml", Model.InsightsListing)
    </div>
</div>
@Html.Partial("~/Views/Afton/InsightsAndResources/_resourcesTiles.cshtml", Model.Tiles)
