@model CMS.Mvc.ViewModels.Shared.Personalization.PersonalizationCardViewModel
@if (!string.IsNullOrWhiteSpace(Model.Reference) && !string.IsNullOrWhiteSpace(Model.HomeImage))
{
    <a href="@Url.Content("~/" + Model.Reference)">
        <div class="cardBtnIndicator">
            <img src="~/images/card-btn-indicator.png" />
        </div>
        <div class="overlayC">
            <div class="overlay">
                <div class="cardTitle">@Model.TileTitle</div>
                <div class="cardHdr">@Html.Raw(Model.Title)</div>
            </div>
            <div class="cardDate">@Model.Date.ToString("MMMM dd, yyyy")</div>
        </div>
        <div style="opacity: 0.0;" class="hoverOverlayC">
            <div class="hoverOverlay">
                <div class="hoverOverlayTxt">@Model.Description</div>
            </div>
            <div class="cardLearnMore">
                Read More
                <span class="icon-arrow"></span>
            </div>
        </div>
        <img src="@Url.Content(@Model.HomeImage)" alt="" />
    </a>
}