@model CMS.Mvc.ViewModels.SiteMap.SiteMapViewModel
@{
    ViewBag.Title = "Afton Sitemap";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}
<div id="sitemapC" class="fullWidth">
    <div id="sitemap-col1" >
            <h2>@Model.SBUName</h2>
            <ul>
                @Html.Partial( "~/Views/Afton/SiteMap/_linksList.cshtml", Model.SBUs )
            </ul>
     </div>
    <div id="sitemap-col2">
        <h2>@Model.PagesName</h2>
        <ul>
            @Html.Partial( "~/Views/Afton/SiteMap/_linksList.cshtml", Model.Pages )
        </ul>
    </div>
    <div id="sitemap-col3">
        <h2>@Model.OfficesName</h2>
        <ul>
            @Html.Partial( "~/Views/Afton/SiteMap/_linksList.cshtml", Model.Offices )
        </ul>
    </div>
</div>
