@using CMS.Mvc.Helpers
@model CMS.Mvc.ViewModels.NewsAndEvents.NewsAndEventsPageViewModel
<div id="newsListC">
    @foreach (var item in Model.NewsAndEventsList)
    {
        <div class="newsItem">
            <div class="newsImgC">
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)"/>
                }
                else
                {
                    <img src="@Url.Content("~/images/AFTON_NEWSEVENTS.jpg")"/>
                }
            </div>
            <div class="newsContentC">
                <h2>@UtilsHelper.ToHtmlString(item.Title)</h2>
                @*<div class="newsInfo">@item.Date.ToString("M/d/yy")</div>*@
                <div class="newsTxt">@UtilsHelper.ToHtmlString(item.Description)</div>
                @if (item.DocumentRoutePath.Contains("http"))
                {
                    <a href="@item.DocumentRoutePath" target="_blank" class="newsMore">@Model.ReadMoreLabel</a>
                }
                else
                {
                    <a href="@Url.Content("~/" + item.DocumentRoutePath)" class="newsMore">@Model.ReadMoreLabel</a>
                }

            </div>
        </div>
    }
    @{ Html.RenderPartial("~/Views/Afton/Shared/_pagination.cshtml", @Model.Pagination); }
</div>