@model CMS.Mvc.ViewModels.NewsAndEvents.NewsAndEventsPageViewModel
<div id="newsListC">
    @foreach (var item in Model.NewsAndEventsList)
    {
        <div class="newsItem">
            <div class="newsImgC">
                @if (!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)"/>
                }
            </div>
            <div class="newsContentC">
                <h2>@item.Title</h2>
                <div class="newsInfo">@Model.PostedLabel @item.Date.ToString("M/d/yy | h:mm tt CST")</div>
                <div class="newsTxt">@Html.Raw(item.Description)</div>
                <a href="@item.DocumentRoutePath" class="newsMore">@Model.ReadMoreLabel</a>
            </div>
        </div>
    }
    @{ Html.RenderPartial("~/Views/Afton/Shared/_pagination.cshtml", @Model.Pagination); }
</div>