<div id="newsDD">
    <div id="categoriesDD">
        @Model.FilterByLabel<br>
        <div class="customSelectC standard">
            <div class="orgSelect">
                <select name="categories">
                    <option value="@Model.AllNewsEventsSelectorValue">@Model.AllNewsEventsSelectorValue</option>
                    <option value="@Model.NewsSelectorValue">@Model.NewsSelectorValue</option>
                    <option value="@Model.EventsSelectorValue">@Model.EventsSelectorValue</option>
                </select>
            </div>
        </div>
    </div>
    <div id="sortDD">
        @Model.SortByLabel<br>
        <div class="customSelectC standard">
            <div class="orgSelect">
                <select name="sort">
                    <option value="@Model.SortNewestLabel">@Model.SortNewestLabel</option>
                    <option value="@Model.SortOldestLabel">@Model.SortOldestLabel</option>
                </select>
            </div>
        </div>
    </div>
</div>
