@model CMS.Mvc.ViewModels.NewsAndEvents.NewsAndEventsPageViewModel
<div id="newsDD">
    <div id="categoriesDD">
        @Model.FilterByLabel<br>
        <div class="customSelectC standard">
            <div class="orgSelect">
                <select name="categories">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Split('&')[0]">@type</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="MonthDD">
        <div class="customSelectC standard">
            <div class="orgSelect">
                <select name="categories">
                    @foreach (var date in Model.Dates)
                    {
                        <option value="@date">@date</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="sortDD">
        @{ Html.RenderPartial("~/Views/Afton/Shared/NewsEventsAndBlog/_sortSelector.cshtml", Model); }
    </div>
</div>
