﻿Total pages count: @Model.pagecount <br /> <br />

@foreach (var item in Model.results)
{
    <p>
        @item.Title <br />
        @item.Description <br />
        @item.Type <br />
        @item.Link <br />
    </p>
}
<hr />
