@model CMS.Mvc.ViewModels.SelectionFilter.SelectionFilterViewModel

@{
    ViewBag.Title = Model.Header.Title;
    Layout = "~/Views/Afton/Shared/MasterWithPersonalizationCards.cshtml";
}

<div id="contentAreaC" ng-app="prodFilterApp" ng-controller="prodFilterCntl">
    <div class="fullWidth2 txtPaddingTop">
        @Html.Partial("~/Views/Afton/Shared/_breadCrumb.cshtml", @Model.Header.BreadCrumb)
    </div>
    @Html.Partial("~/Views/Afton/SelectionFilter/_header.cshtml", @Model.Header)
    <div id="mobileFilterBtnC" style="display: none;">
        <a href="#" id="mobileFilterBtn">
            <div id="mobileFilterTxt">@Model.FilterLabel</div><img id="mobileFilterImg" src="@Url.Content("~/images/filter-open.gif")">
        </a>
    </div>
    <div id="filterAreaC" class="padBtm">
        <form id="filterArea">
            <div id="filterC">
                <div id="filterLabel">@Model.FilterByLabel </div>
                <div id="filterColC">
                    <input id="filterSearch" type="text" placeholder="@Model.SearchPlaceholder" ng-model="searchFilter" ng-keypress="($event.which === 13)?search(searchFilter):0"><hr>
                    <div id="filterRegion" class="filterGroup">
                        <div class="filterHdr">@Model.RegionHeader</div>
                        @Html.Partial("~/Views/Afton/SelectionFilter/_regionCheckBoxes.cshtml", @Model.RegionsList)
                    </div><hr>
                    <div id="filterDocumentType" class="filterGroup">
                        <div class="filterHdr">@Model.DocumentTypeHeader</div>
                        @Html.Partial("~/Views/Afton/SelectionFilter/_documentTypeCheckBoxes.cshtml", @Model.DocumentTypesList)
                    </div>
                    <div id="filterSolution" class="filterGroup">
                        <div class="filterHdr">@Model.SolutionHeader</div>
                        @Html.Partial("~/Views/Afton/SelectionFilter/_SBUCheckBoxes.cshtml", @Model.SBUList)
                        <input id="clearFilterB" type="reset" ng-click="reset()" value="@Model.ClearAllLabel">
                    </div>
                </div>
            </div>
            <div id="filterResultsC" ng-cloak>
                @Html.Partial("~/Views/Afton/SelectionFilter/_searchResults.cshtml", @Model)
            </div>
        </form>
    </div>
</div>
