@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.SBU
@model DocumentTypeViewModel
<h3>@Model.Title</h3>
<ul>
	@foreach (var document in Model.Documents)
	{
		<li><a href="@Url.Content("~/"+document.Reference)">@UtilsHelper.ToHtmlString(document.Title)</a></li>
	}
    @for (int i = 0; i < 5 - Model.Documents.Count; i++)
    {
        <li class="empty-li">&nbsp;</li>
    }
</ul>
<a href="@Url.Content("~/"+Model.ViewAllUrl)" class="viewMore">@Model.ViewAllLabel @Model.Title ></a>
<!--<a href="#">View More ></a>-->
