@using CMS.Mvc.ViewModels.SBU
@model SBUViewModel 
@{
    ViewBag.Title = "Solution Business Unit";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<!-- image -->
Anchor Menu:
@foreach (var item in Model.AnchorMenu)
{
    <p><a href="#">@item.Title</a></p>
}
<hr />
Description:
<p>
    <p>
        Left part<br />
        @Html.Raw(Model.LeftDescription)
    </p>
    <p>
        Right part <br />
        @Html.Raw(Model.RightDescription)
    </p>
</p>
<hr />
FAQ Description:
<p>@Html.Raw(Model.FAQDescription)</p>
<hr />
FAQs:
@Html.Partial("~/Views/Afton/SBU/_FAQs.cshtml", Model.FAQs)

Documents:
@Html.Partial("~/Views/Afton/SBU/_documents.cshtml", Model.DocumentTypes)

Solutions:
@Html.Partial("~/Views/Afton/SBU/_solutions.cshtml", Model.Solutions)


