@using CMS.Mvc.ViewModels.SBU
@model SBUViewModel 
@{
    ViewBag.Title = "Solution Business Unit";
    Layout = "~/Views/Afton/Shared/Master.cshtml";
}

<!-- image -->
Anchor Menu:
@foreach (var item in Model.AnchorMenu)
{
    <p><a href="#">@item.Title</a></p>
}
<hr />
FAQ Description:
<p>@Html.Raw(Model.FAQDescription)</p>
<hr />
FAQs:
@Html.Partial("~/Views/Afton/SBU/_FAQs.cshtml", Model.FAQs)

Documents:
@Html.Partial("~/Views/Afton/SBU/_documents.cshtml", Model.DocumentTypes)

Solutions:
@Html.Partial("~/Views/Afton/SBU/_solutions.cshtml", Model.Solutions)


<div id="contentAreaC">
	@Html.Partial("~/Views/Afton/SBU/_heroImage.cshtml", Model)
	<div class="sbuLandingNavC">
		<div class="sbuLandingNav">
			<ul>
				<li><a href="#overview-pos"><span>Overview</span></a></li>
				<li><a href="#solutions-pos"><span>Solutions</span></a></li>
				<li><a href="#faqs-pos"><span>FAQs</span></a></li>
				<li><a href="#sheets-pos"><span>Product Data Sheets</span></a></li>
				<li><a href="#resources-pos"><span>Insights & Resources</span></a></li>
			</ul>
		</div>
		<div style="display: none;" class="sbuLandingDropNav">
			<span class="icon-arrow"></span><a href="#" class="sbuSelect">Overview</a>
			<ul style="display:none;" class="DropNav">
				<li><a data-sbudd="Overview" href="#overview-pos">Overview</a></li>
				<li><a data-sbudd="Solutions" href="#solutions-pos">Solutions</a></li>
				<li><a data-sbudd="FAQs" href="#faqs-pos">FAQs</a></li>
				<li><a data-sbudd="Product Data Sheets" href="#sheets-pos">Product Data Sheets</a></li>
				<li><a data-sbudd="Insights &amp; Resources" href="#resources-pos">Insights & Resources</a></li>
			</ul>
		</div>
	</div><a id="overview-pos" class="anchorTag"></a>
	<div class="twoColumnC padTop">
		@Html.Raw(Model.Description)
	</div><a id="solutions-pos" class="anchorTag"></a>
	<div class="padTopBtm">
		<div class="fullWidth">
			<h1>@Model.Title Solutions</h1>
		</div>
		<div class="cardsC">
			<div class="cards">
				<a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">News</div>
							<div class="cardHdr">Afton Chemical to exhibit and present at annual international CTI Symposium. </div>
						</div>
						<div class="cardDate">March 27, 2015</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card1.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Events</div>
							<div class="cardHdr">Afton Chemical breaks ground for its facility in Singapore.</div>
							<div class="cardTxt">Production of the next generation of additive solutions is set to begin in January 2016.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card2.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Fact Sheet</div>
							<div class="cardHdr">Automatic Transmissions</div>
							<div class="cardTxt">Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card3.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">News</div>
							<div class="cardHdr">Afton Chemical to exhibit and present at annual international CTI Symposium. </div>
						</div>
						<div class="cardDate">March 27, 2015</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card1.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Events</div>
							<div class="cardHdr">Afton Chemical breaks ground for its facility in Singapore.</div>
							<div class="cardTxt">Production of the next generation of additive solutions is set to begin in January 2016.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card2.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Fact Sheet</div>
							<div class="cardHdr">Automatic Transmissions</div>
							<div class="cardTxt">Afton Chemical develops and manufacturers petroleum additives that enhances the performance of fuels and lubricating oils in machinery and vehicles.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card3.jpg">
				</a>
			</div>
		</div>
	</div><a id="faqs-pos" class="anchorTag">        </a>
	<div class="borders bgPattern">
		<div class="fullWidth padTopBtm">
			<h2 class="txtPaddingBtm">FAQs</h2>Lorem ipsum dol  or sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec ornare nec ipsum ut, maximus sollicitudin lectus. Nam enim est, tincidunt sed posuere tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.
			<ul class="accordC txtPaddingTop">
				<li>
					<div class="icon"></div><a href="#">1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in</a>
					<div style="display: none;" class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
				</li>
				<li>
					<div class="icon"></div><a href="#">2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in</a>
					<div style="display: none;" class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.</div>
				</li>
				<li>
					<div class="icon"></div><a href="#">1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in</a>
					<div style="display: none;" class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
				</li>
				<li>
					<div class="icon"></div><a href="#">2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dolor quam, porta ut erat in</a>
					<div style="display: none;" class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet felis justo, vel faucibus orci ultrices ut. Maecenas eu vehicula eros. Morbi ultricies nibh porttitor nunc tincidunt auctor. Duis consectetur arcu a enim posuere, a rutrum quam bibendum. Cras rutrum ex et justo lacinia dictum eget non mauris. Nulla facilisi. Donec efficitur nisl non lacus aliquet, eget vulputate mauris aliquam. In dui sem, scelerisque in dolor tempor, gravida porttitor dolor. Aenean accumsan felis sed suscipit finibus. Mauris sed tempus sem.</div>
				</li>
			</ul><a href="#" class="viewAllBtn">View All Lubricant Component FAQs</a>
		</div>
	</div><a id="sheets-pos" class="anchorTag"></a>
	<div class="padTopBtm">
		<div class="fullWidth">
			<h1 class="txtPaddingBtm">Lubricant Component Documents</h1>
			<div class="txtPaddingBtm">Lorem ipsum dol  or sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec hendrerit turpis. Nullam sit amet massa in nulla mollis condimentum. Proin quam metus, tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget vulputate erat, nec ornare nec ipsum ut, maximus sollicitudin lectus. Nam enim est, tincidunt sed posuere tristique, sollicitudin quis arcu. In convallis pellentesque metus at porttitor.</div>
			<hr>
			<h2 class="txtPaddingTop">Product Data Sheets</h2>
			<div class="threeColGridC">
				<div class="twoColGrid-lft">
					<div class="threeColGrid-lft dataSheets">
						<h3>Couplers</h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Detergents & Corrosion Inhibitors</h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Dispersants & Emulsifiers</h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Extreme Pressure Agents & Antiwear Agents </h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
					</div>
					<div class="threeColGrid-mid dataSheets">
						<h3>Foam Inhibitors</h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Friction Modifiers </h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Pour Point Depressants (PPDs)  </h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
						<h3>Seal Swell Additives </h3>
						<ul>
							<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
							<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
							<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
						</ul><a href="#">View More ></a>
					</div>
				</div>
				<div class="threeColGrid-rt dataSheets">
					<h3>Tackiness Additives</h3>
					<ul>
						<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
						<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
						<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
					</ul><a href="#">View More ></a>
					<h3>Thickeners & Viscosity Index Improvers </h3>
					<ul>
						<li><a href="#">Nunc vestibulum laoreet mauris ac elementum</a></li>
						<li><a href="#">Donec sollicitudin commodo sem ut ultricies</a></li>
						<li><a href="#">Nulla eu metus sed augue placerat elementum at</a></li>
					</ul><a href="#">View More ></a>
				</div>
			</div><a href="#" class="viewAllBtn">View All Lubricant Component Documents</a>
		</div>
	</div><a id="resources-pos" class="anchorTag"></a>
	<div class="borders bgPattern padTopBtm">
		<div class="fullWidth">
			<h2>Insights & Resources                    </h2>
		</div>
		<div class="cardsC">
			<div class="cards">
				<a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">News</div>
							<div class="cardHdr">Afton Chemical to exhibit and present at annual international CTI Symposium. </div>
						</div>
						<div class="cardDate">March 27, 2015</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card1.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Events</div>
							<div class="cardHdr">Afton Chemical breaks ground for its facility in Singapore.</div>
							<div class="cardTxt">Production of the next generation of additive solutions is set to begin in January 2016.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore">Read More<span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card2.jpg">
				</a><a href="#">
					<div class="cardBtnIndicator"><img src="images/card-btn-indicator.png"></div>
					<div class="overlayC">
						<div class="overlay">
							<div class="cardTitle">Events</div>
							<div class="cardHdr">Afton Chemical breaks ground for its facility in Singapore.</div>
							<div class="cardTxt">Production of the next generation of additive solutions is set to begin in January 2016.</div>
						</div>
					</div>
					<div style="opacity: 0.0;" class="hoverOverlayC">
						<div class="hoverOverlay">
							<div class="hoverOverlayTxt">Tem as moluptatusto voloreiur rectiun totaspellab ipsan. Et auta nost lant, tem erro berum nectio que sequaes aut late rempossit est, num cus, que.</div>
						</div>
						<div class="cardLearnMore"> <span class="icon-arrow"></span></div>
					</div><img src="page-images/cards/sample-card2.jpg">
				</a>
			</div>
		</div>
	</div>


