@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.SBU
@using CMS.Mvc.ViewModels.Shared
@model SBUViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Afton/Shared/MasterWithPersonalizationCards.cshtml";
}

@Html.Partial("~/Views/Afton/SBU/_heroImage.cshtml", Model)
<div class="sbuLandingNavC">
    <div class="sbuLandingNav">
        <ul>
            <li><a href="#overview-pos"><span>Overview</span></a></li>
            <li><a href="#solutions-pos"><span>Solutions</span></a></li>
            <li><a href="#faqs-pos"><span>FAQs</span></a></li>
            <li><a href="#sheets-pos"><span>Product Data Sheets</span></a></li>
            <li><a href="#resources-pos"><span>Insights & Resources</span></a></li>
        </ul>
    </div>
    <div style="display: none;" class="sbuLandingDropNav">
        <span class="icon-arrow"></span><a href="#" class="sbuSelect">Overview</a>
        <ul style="display:none;" class="DropNav">
            <li><a data-sbudd="Overview" href="#overview-pos">Overview</a></li>
            <li><a data-sbudd="Solutions" href="#solutions-pos">Solutions</a></li>
            <li><a data-sbudd="FAQs" href="#faqs-pos">FAQs</a></li>
            <li><a data-sbudd="Product Data Sheets" href="#sheets-pos">Product Data Sheets</a></li>
            <li><a data-sbudd="Insights &amp; Resources" href="#resources-pos">Insights & Resources</a></li>
        </ul>
    </div>
</div>
<a id="overview-pos" class="anchorTag"></a>
<div class="twoColumnC padTop leadIn">
    @Html.Raw(Model.Content)
</div>
<a id="solutions-pos" class="anchorTag"></a>
<div class="padTopBtm">
    <div class="fullWidth">
        <h2>@Model.Title Solutions</h2>
    </div>
    <div class="cardsC">
        @Html.Partial("~/Views/Afton/Shared/_tile.cshtml", Model.Solutions)
    </div>
</div>
<a id="faqs-pos" class="anchorTag"></a>
<div class="borders bgPattern">
    <div class="fullWidth padTopBtm">
        <h2 class="txtPaddingBtm">FAQs</h2>
        @Html.Raw(Model.FAQDescription)
        @Html.Partial("~/Views/Afton/SBU/_FAQs.cshtml", Model.FAQs)

    </div>
</div><a id="sheets-pos" class="anchorTag"></a>
<div class="padTopBtm">
    <div class="fullWidth">
        <h2 class="txtPaddingBtm">@Model.Title Documents</h2>
        <div class="txtPaddingBtm">@Html.Raw(Model.DocumentsDescription)</div>
        <hr>
        <h2 class="txtPaddingTop">Product Data Sheets</h2>
        @Html.Partial("~/Views/Afton/SBU/_documentColumns.cshtml", Model.DocumentTypes)
	    <!--<a href="@Url.Content("~/" + Model.ViewAllDocumentsLink)" class="viewAllBtn">View All @Model.Title Documents</a>-->

    </div>
</div>
<a id="resources-pos" class="anchorTag"></a>
