@using CMS.Mvc.ViewModels.FAQ
@model FAQPageViewModel

<div class="subTxt">@Model.SortByLabel</div>
<div id="faqDD" class="customSelectC standard">
    <div class="orgSelect">
        <select name="faqs">
            <option value="View-All-FAQs">@Model.ViewAllLabel</option>
            @foreach (var topic in Model.Topics)
            {
                <option value="@topic.Id-FAQs">@topic.Name @Model.Title</option>
            }
        </select>
    </div>
</div>