@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.Shared
@using System
@model List<TileViewModel>
<div class="cards">
    @foreach (var item in Model.Where(item => !string.IsNullOrWhiteSpace(item.HomeImage) && !string.IsNullOrWhiteSpace(item.Reference)))
    {
        <a href="@Url.Content("~/" + item.Reference)">
            <div class="cardBtnIndicator">
                <img src="@Url.Content("~/images/card-btn-indicator.png")" />
            </div>
            <div class="overlayC">
                <div class="overlay">
                    <div class="cardTitle">@item.TileTitle</div>
                    <div class="cardHdr">@item.Title</div>
                    @if (@item.Description != null)
                    {
                        <div class="cardTxt">@item.Description</div>
                    }
                </div>
                <div class="cardDate">@if(!string.IsNullOrEmpty(item.Date.ToString())) {@UtilsHelper.ToHtmlString(item.Date.ToString("MMMM dd, yyyy"));}</div>
            </div>
            <img src="@Url.Content(item.HomeImage)" />
        </a>
    }
</div>
