@using System.Web.Optimization
@using CMS.Mvc.Helpers
@using CMS.Mvc.Infrastructure.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"
          type="image/png"
          href="~/images/Afton_Bug.png" />
	<title>@ViewBag.Title - @UtilsHelper.GetLocalizedString("site_TitlePostfix")</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
	@Styles.Render("~/bundles/css")
	@Styles.RenderFormat("<link rel=\"stylesheet\"  href=\"{0}\" media=\"print\" />", "~/bundles/css/print")
	@Scripts.Render("~/bundles/js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<script>
    head.js(
        { home_rotator: "@Url.Content("~/Scripts/custom/homeSlideShow.min.js")" },
        { search_box: "@Url.Content("~/Scripts/custom/search.min.js")" },
        { language_selector: "@Url.Content("~/Scripts/custom/langSel.min.js")" },
        { mega_menu_drop_down: "@Url.Content("~/Scripts/custom/megaMenu.min.js")" },
        { mobile_nav: "@Url.Content("~/Scripts/custom/mobileNav.min.js")" },
        { disclaimer_copyright: "@Url.Content("~/Scripts/custom/copyrightDate.min.js")" },
        { custom_select_DropDowns: "@Url.Content("~/Scripts/custom/customSelectDropDown.min.js")" },
        { display_Cookies_Alert: "@Url.Content("~/Scripts/custom/cookies-display.min.js")"},

        //{ card_Animations: "@Url.Content("~/Scripts/custom/cards.min.js")" },
        { sbu_Landing_Nav: "@Url.Content("~/Scripts/custom/sbuLandingDropDown.min.js")" },
        { accordion_Nav: "@Url.Content("~/Scripts/custom/accordion.min.js")" },
        { print: "@Url.Content("~/Scripts/custom/print.min.js")" },
        { language_Document_selector: "@Url.Content("~/Scripts/custom/langDocSel.min.js")" },
        { product_Filter_Nav: "@Url.Content("~/Scripts/custom/prodFilterNav.min.js")" },
        { FAQ_Download: "@Url.Content("~/Scripts/custom/faqDropDown.min.js")" },
        { long_page_pagination: "@Url.Content("~/Scripts/custom/documentPagination.min.js")" },
        { Polls_And_Surveys: "@Url.Content("~/Scripts/custom/polls-surveys.min.js")" },
        { Rate_This_Content: "@Url.Content("~/Scripts/custom/rate-this-content.min.js")" },
        { form_placholder: "@Url.Content("~/Scripts/custom/formPollyfill.min.js")" },
        { news_blogs_DropDowns: "@Url.Content("~/Scripts/custom/news-blogs-DropDown.min.js")" },
        { stay_informed: "@Url.Content("~/Scripts/custom/stayinformed.js")" },
			function () { }
		);
	</script>

</head>
<body>
	@{ Html.RenderAction("Header", "Master", new MasterHeaderRequest
	   {
	       Title = ViewBag.Title, 
           GlobalSearchQuery = ViewBag.GlobalSearchQuery,
           SelectedMenuItem = ViewBag.SelectedMenuItem
	   }); }
	<main>
		@RenderBody()
	</main>
	@{ Html.RenderAction("Footer", "Master"); }
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56686002384632a9" async="async"></script>
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-10080511-2']);
		_gaq.push(['_setDomainName', '.aftonchemical.com']);
		_gaq.push(['_trackPageview']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();


	</script>
    <script type="text/javascript">
    (function () {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = '//api.usersnap.com/load/' +
                '140b36d4-7059-4c68-9eda-08bfb9e01e3e.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
    </script>
</body>
</html>