@using System.Web.Optimization
@using CMS.Mvc.Helpers
@using CMS.Mvc.Infrastructure.Models
@using CMS.Personas
@using CMS.OnlineMarketing
@using CMS.Helpers
@{
    var page = DocumentContext.CurrentPageInfo;

    if ( page != null )
    {
        ViewBag.PageGuid = ( page.DocumentGUID == Guid.Empty ) ? String.Empty : page.DocumentGUID.ToString();
        ViewBag.SiteId = ( page.NodeSiteID > 0 ) ? page.NodeSiteID.ToString() : String.Empty;
    }

    ViewBag.Referrer = ( Request.UrlReferrer != null ) ? Request.UrlReferrer.ToString() : String.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"
          type="image/png"
          href="~/images/Afton_Bug.png" />
    <title>@UtilsHelper.StripHTML( ViewBag.Title ) - @UtilsHelper.GetLocalizedString( "site_TitlePostfix" )</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render( "~/bundles/css" )
    @Styles.RenderFormat( "<link rel=\"stylesheet\"  href=\"{0}\" media=\"print\" />", "~/bundles/css/print" )
    @Scripts.Render( "~/bundles/js" )
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="/CMSScripts/WebServiceCall.js"></script>
    <script>
        head.js(
            { home_rotator: "@Url.Content("~/Scripts/custom/homeSlideShow.min.js")" },
            { search_box: "@Url.Content("~/Scripts/custom/search.min.js")" },
            { language_selector: "@Url.Content("~/Scripts/custom/langSel.min.js")" },
            { mega_menu_drop_down: "@Url.Content("~/Scripts/custom/megaMenu.min.js")" },
            { mobile_nav: "@Url.Content("~/Scripts/custom/mobileNav.min.js")" },
            { disclaimer_copyright: "@Url.Content("~/Scripts/custom/copyrightDate.min.js")" },
            { custom_select_DropDowns: "@Url.Content("~/Scripts/custom/customSelectDropDown.min.js")" },
            { display_Cookies_Alert: "@Url.Content("~/Scripts/custom/cookies-display.min.js")" },

            //{ card_Animations: "@Url.Content("~/Scripts/custom/cards.min.js")" },
            { sbu_Landing_Nav: "@Url.Content("~/Scripts/custom/sbuLandingDropDown.min.js")" },
            { accordion_Nav: "@Url.Content("~/Scripts/custom/accordion.min.js")" },
            { print: "@Url.Content("~/Scripts/custom/print.min.js")" },
            { language_Document_selector: "@Url.Content("~/Scripts/custom/langDocSel.min.js")" },
            { product_Filter_Nav: "@Url.Content("~/Scripts/custom/prodFilterNav.min.js")" },
            { FAQ_Download: "@Url.Content("~/Scripts/custom/faqDropDown.min.js")" },
            { long_page_pagination: "@Url.Content("~/Scripts/custom/documentPagination.min.js")" },
            { Polls_And_Surveys: "@Url.Content("~/Scripts/custom/polls-surveys.min.js")" },
            { Rate_This_Content: "@Url.Content("~/Scripts/custom/rate-this-content.min.js")" },
            { form_placholder: "@Url.Content("~/Scripts/custom/formPollyfill.min.js")" },
            { news_blogs_DropDowns: "@Url.Content("~/Scripts/custom/news-blogs-DropDown.min.js")" },
            { stay_informed: "@Url.Content("~/Scripts/custom/stayinformed.js")" },
                function () { }
            );
    </script>

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TK3GM9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TK3GM9');
    </script>
    <!-- End Google Tag Manager -->
    @{ Html.RenderAction( "Header", "Master", new MasterHeaderRequest
       {
           Title = ViewBag.Title,
           GlobalSearchQuery = ViewBag.GlobalSearchQuery,
           SelectedMenuItem = ViewBag.SelectedMenuItem
       } ); }
    <main>
        @RenderBody()
    </main>
    @{ Html.RenderAction( "Footer", "Master" ); }
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56686002384632a9" async="async"></script>
    <script>
        var addthis_config = { services_compact: 'email,linkedin,twitter,facebook,more', services_exclude: 'google,google_plusone_share' }
    </script>
    <script type="text/javascript">
        WebServiceCall('/CMSPages/WebAnalyticsService.asmx', 'LogHits', '{ "parameters": { "pageGUID" : "@ViewBag.PageGuid", "pagesiteId" : "@ViewBag.SiteId", "referrer" : "@ViewBag.Referrer" }}');
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-10080511-2', 'auto');
        ga('set', 'dimension1', '@Session[ "Persona" ]');
        ga('set', 'dimension2', '@Session[ "CompanyName" ]');
        ga('send', 'pageview');
    </script>

</body>
</html>
