@model CMS.Mvc.ViewModels.Shared.NewsEventsAndBlogBasePageViewModel

@Model.SortByLabel<br>
<div class="customSelectC standard">
    <div class="orgSelect">
        <select name="sort">
            @if ( String.Equals( Model.SelectedSortOrder, Model.SortOldestLabel, StringComparison.OrdinalIgnoreCase ) )
            {
                <option value="DESC">@Model.SortOldestLabel</option>
                <option value="ASC">@Model.SortNewestLabel</option>
            }
            else
            {
                <option value="ASC">@Model.SortNewestLabel</option>
                <option value="DESC">@Model.SortOldestLabel</option>
            }
        </select>
    </div>
</div>