@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.Contact
@model ContactPageViewModel

<div id="contactC">
    <h1>@Model.Title</h1><br>
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
    {
        <form>
            @Model.PromptLabel
            <input placeholder="@Model.FirstNamePlaceholder" required name="FirstName">
            <input placeholder="@Model.LastNamePlaceholder" required name="LastName">
            <input placeholder="@Model.CompanyNamePlaceholder" required name="CompanyName">
            <input placeholder="@Model.EmailPlaceholder" required name="Email">
            <input placeholder="@Model.PhonePlaceholder" required name="Phone">
            <div class="customSelectC standard">
                <div class="orgSelect">
                    <select name="CountryId" required>
                        <option value="">@Model.SelectCountryPlaceholder</option>
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.CountryID">@country.CountryDisplayName</option>
                        }
                    </select>
                </div>
            </div>
            <textarea placeholder="@Model.MessagePlaceholder" required name="Note"></textarea>
            <strong>@Model.NewsletterTitle</strong><br><br>
            <label>
                <input type="checkbox" name="IsSubscribed"><span class="checkboxDisplay"></span><span class="txt">@UtilsHelper.ToHtmlString(@Model.NewsletterCheckboxLabel)</span><a href="@Model.NewsletterPrivacyLink">@Model.NewsletterPrivacyLabel</a>
            </label><br><br>
            <input type="submit" value="@Model.SubmitLabel" class="subscribe">
        </form>
    }
</div>