@using CMS.Mvc.Helpers
@using CMS.Mvc.ViewModels.Contact
@model ContactPageViewModel

@foreach (var region in Model.Regions)
{
    <div class="salesOfficesC">
        <a href="@region.DocumentRoutePath">
            @if (!string.IsNullOrEmpty(region.MapImage))
            {
                <img src="@Url.Content(region.MapImage)"/>
            }
        </a>
        <div class="sales-address">
            <div class="address-header">@region.Title</div>
            @UtilsHelper.ToHtmlString(region.Address)<br>
            <strong>@region.CountryName<br></strong>
            T: @region.Phone<br>
            <a href="@region.DocumentRoutePath" class="viewOffices">@Model.ViewSalesOfficesLabel</a>
        </div>
    </div>
}
